body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  /* background-color: #f1f1f1; */
  box-sizing: border-box
}
/* .table {
  width: 85%;
  max-width: 85%;
} */
.page {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}
.fade-appear, .fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active, .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

.table-responsive {
  max-height: 70vh;
  overflow-y: auto;
  border-bottom: 1px solid #dee2e6 !important;
  /* border: 1px solid #dee2e6; */
}
.table {
  /* border: 1px solid #dee2e6; */
  border-bottom: 1px solid #dee2e6 !important;
  margin-bottom: 0;
}
th {
  color: #f1f1f1
}

.container {
  max-width: 1540px;
}

.delete-btn, .edit-btn {
  /* background-color: transparent;
  border-color: transparent;
  color: transparent;
  transition: 0.3s; */
  visibility: hidden;
  
}

.ticket:hover .delete-btn {
  /* background-color: #dc3545;
  border-color: #dc3545;
  color: white; */
  visibility: visible
} 

.ticket:hover .edit-btn {
  /* background-color: #007bff;
  border-color: #007bff;
  color: white; */
  visibility: visible
}

.copy-btn {
  float: right;
  margin-bottom: 20px;
}
.fixed-action-btn {
  z-index: 10;
  position: fixed;
  bottom: 5%;
  right: 7%;
}
.material-icons {
  margin-top: 5px;
}
#add-btn {
  
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
.modal-header, .modal-footer {
  padding: 1rem 2rem;
}
/* #add-btn {
  position: fixed;
  bottom: 5%;
  right: 7%;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #28a745;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
.material-icons {
  padding-top: 17px;
} */

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1240px;
  }
}
@media (min-width: 576px) and (max-width: 991.99px) {
  .modal-dialog {
    max-width: 700px;
  }
}
